* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

.main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
}
.main .first {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}
.main .first img {
  width: 100%;
}
.main .first .smalltext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .first .smalltext p {
  text-transform: uppercase;
  font-weight: 400;
}
.main .second {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}
.main .second .top img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .second .bottom {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.main .second .bottom h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.3rem;
}
.main .second .bottom p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 500;
  opacity: 1;
}
.main .second .bottom .step {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.main .second .bottom .step #internal {
  display: flex;
  flex: row;
  justify-content: space-between;
}
.main .second .bottom .step #internal h1 {
  font-size: 2rem;
  font-weight: 500;
}
.main .second .bottom .step .line {
  background-color: rgb(169, 169, 169);
  width: 100%;
  height: 0.1px;
}
.main .third {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main .third .top {
  margin-top: 1.5rem;
}
.main .third .top img {
  width: 100%;
  aspect-ratio: 1/1;
}
.main .third .bottom {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.main .third .bottom .inner1 p {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  padding-top: 0.5rem;
  font-weight: 500;
}
.main .third .bottom .inner2 h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
}
.main .third .bottom .inner2 p {
  font-size: 1.25rem;
}
.main .forth {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main .forth .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main .forth .top h1 {
  width: 100%;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.main .forth .top #line {
  height: 1px;
  width: 100%;
  background-color: rgb(199, 198, 198);
}
.main .forth .top #inner3s {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.main .forth .top #inner3s p {
  font-size: 1.05rem;
  opacity: 0.5;
}
.main .forth .top #inner3s #logotext {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.main .forth .top #inner3s #logotext p {
  opacity: 10;
  text-transform: uppercase;
}
.main .forth .top #inner3s h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.main .forth .bottom .image {
  width: 100%;
}
.main .forth .bottom .image img {
  width: 100%;
  aspect-ratio: 1/1;
}
.main .fifth {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
  background-color: black;
}
.main .fifth .image img {
  width: 100%;
}
.main .fifth .text2 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 2rem;
}
.main .fifth button {
  text-transform: uppercase;
  width: 65%;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0 0.8rem 0;
  border-radius: 1.5rem;
}

@media (min-width: 900px) {
  .main {
    padding: 4rem;
  }
  .main .second {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
  }
  .main .second .top {
    width: 100%;
  }
  .main .second .top img {
    width: 100%;
  }
  .main .second .bottom {
    width: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .main .second .bottom h1 {
    font-size: 4.8rem;
    line-height: 4rem;
    font-weight: 500;
  }
  .main .second .bottom p {
    font-size: 1.5rem;
    letter-spacing: 0px;
  }
  .main .second .bottom .step {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 100%;
  }
  .main .second .bottom .step #internal {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
  }
  .main .second .bottom .step #internal h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .main .second .bottom .step .line {
    background-color: rgb(169, 169, 169);
    width: 100%;
    height: 0.1px;
  }
  .main .third {
    margin-top: rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .main .third .top {
    margin-top: 1.5rem;
  }
  .main .third .top img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .main .third .bottom {
    padding: 7rem 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    justify-content: space-between;
  }
  .main .third .bottom .inner1 p {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    padding-top: 0.5rem;
    font-weight: 500;
  }
  .main .third .bottom .inner2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .main .third .bottom .inner2 h1 {
    line-height: 5rem;
    text-transform: uppercase;
    font-size: 5.8rem;
    font-weight: 500;
  }
  .main .third .bottom .inner2 p {
    width: 75%;
    font-size: 1.25rem;
    opacity: 0.7;
  }
  .main .forth {
    padding-top: 2rem;
    flex-direction: row;
  }
  .main .forth .top {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main .forth .top h1 {
    grid-column: 1/-1;
    font-size: 6rem;
    font-weight: 500;
  }
  .main .forth #line {
    display: none;
  }
  .main .forth .bottom {
    width: 50%;
  }
  .main .fifth {
    padding: 5rem;
    gap: 2rem;
  }
  .main .fifth .text2 {
    width: 80%;
    font-size: 4rem;
  }
  .main .fifth button {
    width: 20%;
  }
  #line {
    padding-top: 5rem;
    width: 100%;
    height: 2px;
    background-color: black;
  }
}