* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    height: 100%;
    width: 100%;
    padding: 1.5rem;

    .first {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        width: 100%;

        img {
            width: 100%;
        }

        .smalltext {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }

    .second {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        width: 100%;

        .top {
            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 1.4rem;

            h1 {
                text-transform: uppercase;
                font-size: 2.5rem;
                line-height: 2.3rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.7rem;
                font-weight: 500;
                opacity: 1;
            }

            .step {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;

                #internal {
                    display: flex;
                    flex: row;
                    justify-content: space-between;

                    h1 {
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }

                .line {
                    background-color: rgb(169, 169, 169);
                    width: 100%;
                    height: 0.1px;
                }
            }
        }
    }

    .third {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .top {
            margin-top: 1.5rem;

            img {
                width: 100%;
                aspect-ratio: 1/1;
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;

            .inner1 {

                p {
                    writing-mode: vertical-rl;
                    text-transform: uppercase;
                    padding-top: .5rem;
                    font-weight: 500;
                }
            }

            .inner2 {
                h1 {
                    text-transform: uppercase;
                    font-size: 3rem;
                    font-weight: 500;
                }

                p {
                    font-size: 1.25rem;
                }
            }

        }
    }

    .forth {
        padding-top: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .top {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            h1 {
                width: 100%;
                font-size: 2.8rem;
                text-transform: uppercase;
                font-weight: 500;
            }

            #line {
                height: 1px;
                width: 100%;
                background-color: rgb(199, 198, 198);
            }

            #inner3s {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                p {
                    font-size: 1.05rem;
                    opacity: .5;
                }

                #logotext {
                    margin-top: 0.8rem;
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;

                    p {
                        opacity: 10;
                        text-transform: uppercase;
                    }
                }

                h3 {
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }

        .bottom {
            .image {
                width: 100%;

                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }
        }
    }
    .fifth{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        width: 100%;
        background-color: black;
        .image{
            img{
                width: 100%;
            }
        }
        .text2{
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-size: 2rem;
        }
        button{
            text-transform: uppercase;
            width: 65%;
            display: flex;
            justify-content: center;
            padding: 0.8rem 0 0.8rem 0;
            border-radius: 1.5rem;
        }
    }
}


@media (min-width: 900px) {
    .main {
        padding: 4rem;

        .second {
            display: flex;
            flex-direction: row-reverse;
            gap: 3rem;

            .top {
                width: 100%;

                img {
                    width: 100%;

                }
            }

            .bottom {
                width: inherit;
                padding-top: 2rem;
                padding-bottom: 2rem;

                h1 {
                    font-size: 4.8rem;
                    line-height: 4rem;
                    font-weight: 500;
                }

                p {
                    font-size: 1.5rem;
                    letter-spacing: 0px;
                }

                .step {
                    display: flex;
                    flex-direction: column;
                    gap: 0rem;
                    width: 100%;


                    #internal {
                        display: flex;
                        flex: row;
                        justify-content: space-between;

                        align-items: center;

                        h1 {
                            font-size: 2rem;
                            font-weight: 500;
                        }
                    }

                    .line {
                        background-color: rgb(169, 169, 169);
                        width: 100%;
                        height: 0.1px;
                    }
                }
            }
        }

        .third {
            margin-top: rem;
            display: flex;
            flex-direction: row;
            gap: 4rem;

            .top {
                margin-top: 1.5rem;

                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }

            .bottom {
                padding: 7rem 0;
                display: flex;
                flex-direction: row-reverse;
                gap: 1.5rem;
                justify-content: space-between;

                .inner1 {

                    p {
                        writing-mode: vertical-rl;
                        text-transform: uppercase;
                        padding-top: .5rem;
                        font-weight: 500;
                    }
                }

                .inner2 {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    width: 100%;

                    h1 {
                        line-height: 5rem;
                        text-transform: uppercase;
                        font-size: 5.8rem;
                        font-weight: 500;
                    }

                    p {
                        width: 75%;
                        font-size: 1.25rem;
                        opacity: 0.7;
                    }
                }

            }
        }

        .forth {
            padding-top: 2rem;
            flex-direction: row;

            .top {
                width: 50%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                

                h1{
                    grid-column: 1 / -1;
                    font-size: 6rem;
                    font-weight: 500;
                }
            }
            #line{
                display: none;
            }

            .bottom {
                width: 50%;
            }
        }
        .fifth{
            padding: 5rem;
        gap: 2rem;
        .image{
            
        }
        .text2{
            width: 80%;
            font-size: 4rem;
            
        }
        button{
           width: 20%;
        }
    }
    }
    #line{
        padding-top: 5rem;
        width: 100%;
        height: 2px;
        background-color: black;
    }
}